<div class="games d-flex align-content-start flex-wrap justify-content-evenly pb-5" id="homecards">
  <% @games.each do |game| %>
<div class="card-effect">
    <div class="card-game">
    <% if game.photo.attached? == true %>
      <%= cl_image_tag game.photo.key, class:"card-img-top" %>
    <% else %>
      <img src="https://img.game.co.uk/merch2022/Sony/SonyPScategory-CatM.jpg" class="card-img-top" alt="Game Image"/>

   <% end %>
      <div class="card-game-infos">
        <div>
          <h2><%= game.title %></h2>
          <p><%= game.category %></p>
          <p id="price">R$ <%= game.price %></p>
        </div>
        <%= link_to ">", game_path(game), class: "button-custom" %>
      </div>
    </div>
    </div>
  <% end %>
   <a href="#"><i class="fas fa-angle-up" id="homeBtn"></i></a>
</div>
