<div class="container w-50 my-5">
<h1> Sell your game  </h1>
<%= simple_form_for @game do |f| %>
  <%= f.input :title %>
  <%= f.input  :category %>
  <%= f.input  :price %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "button-custom"%>
<% end %>
<%= link_to "BACK", root_path%>

</div>
