

<div class="container">
<h1> New Games </h1>
<%= form_with model: @game do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :category %><br>
    <%= form.text_area :category %>
  </div>

   <div>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>
