<div class="container p-5 d-flex justify-content-evenly">
  <div class="d-flex flex-column justify-content-between" style="width: 33%;">
    <div>
      <h1><%= @game.title %></h1>
      <h3>R$ <%= @game.price %></h3>
      <p><%= @game.category %></p>
      <p>Seller: <%= @game.user.name %></p>
    </div>
    <div class="d-flex flex-column">
      <%= link_to "BUY NOW", new_game_transaction_path(@game), class:"button-custom text-center my-3 fw-bold" %>
      <%= link_to "Return to the main page", root_path, class:"text-decoration-underline text-center"%>
    </div>
  </div>
  <% if @game.photo.attached? %>
    <%= cl_image_tag @game.photo.key, class: "d-block product-img" %>
  <% end %>
</div>
