<div class="container w-50 py-5">
 <h1><%= @game.title %></h1>
 <h3><%= @game.price %></h3>
 <p><%= @game.category %></p>
 <p>Seller: <%= @game.user.name %></p>
  <%= cl_image_tag @game.photo.key, class:"image" %>
  <br>
  <br>
  <%= link_to "Return to the main page", root_path%>
  <br>
  <br>
  <br>
  <%= link_to "BUY NOW", new_game_transaction_path(@game), class:"button-custom"%>
</div>
